<ng-container *ngIf="view == null else paging">
  No data provide for paging.
</ng-container>

<ng-template #paging>
  <div class="buttonWrapper">

    <button aria-label="Navigate to previous page"
            svd-button
            class="svd-button__transparent"
            variant="transparent"
            [ngClass]="{'disabled': view!.leftShiftDisabled}"
            (click)="shiftPage.emit(-1)">
      <ngx-fa name="chevron-left"
              size="md">
      </ngx-fa>
    </button>

    <button *ngFor="let pageNumber of view!.pagingRange"
            svd-button
            variant="transparent"
            [class.svd-button__active]="pageNumber === view!.pageIndex"
            aria-label="Navigate to page 1"
            class="svd-button__transparent"
            (click)="shiftPage.emit(pageNumber - view!.pageIndex)">
      {{pageNumber}}
    </button>

    <button aria-label="Navigate to next page"
            svd-button
            variant="transparent"
            class="svd-button__transparent"
            [ngClass]="{'disabled': view!.rightShiftDisabled}"
            (click)="shiftPage.emit(1)">
      <ngx-fa name="chevron-right"
              size="md">
      </ngx-fa>
    </button>
  </div>
</ng-template>
