<h1 class="text-center">Conways Game of life</h1>
<form [formGroup]="form"
      class="mb-2">
  <div class="form row flex-row d-flex align-items-end">
    <div class="col-md-3 col-lg-2 mt-2">

      <label for="gridWidthSelect"
             class="form-label">Grid width</label>
      <select id="gridWidthSelect"
              formControlName="gridWidth"
              class="form-select"
              aria-label="Select grid width">
        <option *ngFor="let option of widthOptions"
                [value]="option">
          {{option}}
        </option>
      </select>

    </div>
    <div class="col-md-3 col-lg-2 mt-2">

      <label for="gridHeightSelect"
             class="form-label">Grid height</label>
      <select id="gridHeightSelectSelect"
              formControlName="gridHeight"
              class="form-select"
              aria-label="Select grid height">
        <option *ngFor="let option of heightOptions"
                [value]="option">
          {{option}}
        </option>
      </select>

    </div>
    <div class="col-md-3 col-lg-2 mt-2">

      <label for="speedSelect"
             class="form-label">Speed</label>
      <select id="speedSelect"
              formControlName="speed"
              class="form-select"
              aria-label="Select game speed">
        <option *ngFor="let speed of speedOptions"
                [value]="speed">
          {{speed}}
        </option>
      </select>

    </div>
    <div class="col-md-3 col-lg-2 mt-2">

      <label for="initialLifeSelect"
             class="form-label">Initial life</label>
      <select id="initialLifeSelect"
              formControlName="initialLifePercentage"
              class="form-select"
              aria-label="Select initial life probability">
        <option *ngFor="let option of initialLifeOptions"
                [value]="option">
          {{option}}%
        </option>
      </select>

    </div>
    <div class="col-md-3 col-lg-2 d-flex align-items-end mt-2">
      <button *ngIf="state === GameState.Ongoing"
              svd-button
              type='button'
              aria-label="Pause playback"
              class="btn sharp uppercase w-100 mt-1"
              (click)="game.pause()">
        Pause
      </button>
      <button *ngIf="state === GameState.Paused"
              svd-button
              type='button'
              aria-label="Unpause playback"
              class="btn sharp uppercase w-100 mt-1"
              (click)="game.unpause()">
        Unpause
      </button>
    </div>
    <div class="col-md-3 col-lg-2 align-items-end mt-2">

      <ng-container *ngIf="state === GameState.NotStarted;
                    else restartButton">
        <button svd-button
                type='button'
                aria-label="Start game"
                class="btn sharp uppercase w-100"
                (click)="game.start()">
          Start
        </button>
      </ng-container>

    </div>
  </div>
</form>


<div class="mt-3 fs-4">Currently alive:</div>

<ng-container *ngIf="alivePercentage <= 0; else aliveProgressBar">
  <p class="text-center">All cells are dead</p>
</ng-container>

<div class="d-flex justify-content-center mt-4">
  <table>
    <tr *ngFor="let row of game.cells | async">
      <td *ngFor="let cell of row"
          [ngClass]="cell.style">
        <div></div>
      </td>
    </tr>
  </table>
</div>

<ng-template #restartButton>
  <button svd-button
          type='button'
          aria-label="Apply current settings"
          class="btn sharp uppercase w-100"
          (click)="restart()">
    Restart
  </button>
</ng-template>

<ng-template #aliveProgressBar>
  <div class="alive-percentage">
    <div class="alive-percentage__indicator"
         style.width="{{alivePercentage}}%">
      <span>{{alivePercentage}}%</span>
    </div>
  </div>
</ng-template>
