<div class="p-5">
  <ng-container *ngIf="article == null else articleTemplate">
    Could not load article.
  </ng-container>
</div>

<ng-template #articleTemplate>

  <h1 class="text-center"
      tabindex="0"
      [attr.aria-label]="article!.title">
    {{article!.title}}
  </h1>

  <div tabindex="0"
       class="intro"
       [innerHTML]="article!.intro">
  </div>

  <svd-image [image]="article!.image"></svd-image>

  <div tabindex="0"
       [innerHTML]="article!.body">
  </div>

  <svd-chip tabindex="0"
            *ngFor="let tag of (article!.tags  || []) | removeEmptyEntries"
            [title]="tag">
  </svd-chip>
</ng-template>