[svd-button].btn {
  transition: background-color .25s ease-out;
  font-family: var(--svd-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  /* var(--svd-panelsColor); */
  color: var(--svd-highlightColor);
  text-decoration: none;
  border: none;
  border: 0.25rem solid var(--svd-highlightColor);
}

[svd-button].btn:hover {
  color: var(--svd-panelsColor);
  border: 0.25rem solid var(--svd-panelsColor);
}

[svd-button].btn:active {
  color: var(--svd-secondaryColor);
  border: 0.25rem solid var(--svd-secondaryColor);
}

.svd-button__small {
  font-size: .75rem;
  padding: .85em 1.7em
}

.svd-button__transparent {
  font-size: 1rem;
  background: none;
  border: none;
  color: var(--svd-text-color);
  width: 2.5em;
  height: 2.5em;
  border-radius: 2.5em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: none
}

.svd-button__transparent:hover {
  border: var(--svd-highlightColor) .0625rem solid
}

.svd-button__active {
  background: var(--svd-highlightColor);
  color: var(--svd-alternateTextColor);
}

[svd-button]+[svd-button] {
  margin-left: 16px
}
