<div class="p-5">

  <h1 class="text-center">List</h1>
  <svd-table [recordsStream]="recordsStream"
             [columnsStream]="columnsStream"
             [pagingStream]="pagingStream"
             [detailTemplate]="articleDetails"></svd-table>

</div>

<ng-template #articleDetails
             let-article="record">
  <div class="tab">
    <div role="img"
         tabindex="0"
         class="image"
         title="{{article}}"
         [style.background-image]="
                                article.image!.medium | urlAsBackgroundImage">
    </div>
    <div class="article-body">
      <p class="text-center mt-2">{{article.body | firstParagraph}}</p>
      <div class="d-flex justify-content-end w-100">
        <a svd-button
           class="btn btn-sm sharp uppercase"
           routerlinkactive="active"
           routerLink="/{{AppRouts.Article}}/{{article.id}}">Read more</a>
      </div>
    </div>
  </div>
</ng-template>