:host {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  background: var(--svd-panelsColor);
  width: var(--svd-menuWidth);
  padding: 1.5625rem;
  height: 100vh;
  z-index: 900;
  overflow: auto;
}

@media screen and (max-width: 960px) {
  :host {
    padding-top: 3.125rem;
    transform: translate(calc(var(--svd-menuWidth) * -1));
    transition: transform .25s;
  }

  :host.menu-visible {
    transform: translate(0);
  }
}

.logo {
  width: var(--svd-logoWidth);
}


.menu-item  {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item a {
  display: block;
  padding: 0.7rem 1rem;
  text-align: right;
  margin: 0 -1.25rem;
  text-decoration: none;
  color: var(--svd-textColor);
  font-size: 1.1875rem;
  text-transform: uppercase;
  transition: transform .25s;
  transform-origin: right center;
}

.menu-item a:hover,
.menu-item a.active {
  color: var(--svd-linkHoverColor);
  transform: scale(1.05);
}

