<div class="col">
  <div class="d-flex justify-content-center">

    <img [routerLink]="['/']"
         aria-label="svd logo"
         class="logo center-block"
         role="button"
         src="/assets/images/logo.png">

  </div>
  <div class="menu-item d-flex justify-content-center mt-4">

    <a routerlinkactive="active"
       routerLink="/{{AppRouts.Article}}"
       (click)="layout.closeMenu()">
      Article
      <ngx-fa size="md"
              name="file"></ngx-fa>
    </a>

  </div>
  <div class="menu-item d-flex justify-content-center">

    <a routerlinkactive="active"
       routerLink="/{{AppRouts.ArticleList}}"
       (click)="layout.closeMenu()">
      Table
      <ngx-fa size="md"
              name="table"></ngx-fa>
    </a>

  </div>
  <div class="menu-item d-flex justify-content-center">

    <a routerlinkactive="active"
       routerLink="/{{AppRouts.GameOfLife}}"
       (click)="layout.closeMenu()">
      Game of Life
      <ngx-fa size="md"
              name="photo"></ngx-fa>
    </a>

  </div>
</div>
