<img [routerLink]="['/']"
     aria-label="svd logo"
     class="logo"
     tabindex="0"
     src="/assets/images/logo.svg">
<ul>
  <li>

    <a routerlinkactive="active"
       routerLink="/{{AppRouts.Article}}"
       (click)="layout.closeMenu()">
      Article
      <ngx-fa size="md"
              name="file"></ngx-fa>
    </a>

  </li>
  <li>

    <a routerlinkactive="active"
       routerLink="/{{AppRouts.ArticleList}}"
       (click)="layout.closeMenu()">
      Table
      <ngx-fa size="md"
              name="table"></ngx-fa>
    </a>

  </li>
  <li>

    <a routerlinkactive="active"
       routerLink="/{{AppRouts.GameOfLife}}"
       (click)="layout.closeMenu()">
      Game of Life
      <ngx-fa size="md"
              name="photo"></ngx-fa>
    </a>

  </li>
</ul>
