.page-center {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: var(--svd-font);
  text-align: center;
  flex-direction: column;
}

.page-center p {
  font-size: 2.4375rem;
  display: block;
  text-align: center;
  font-weight: 700;
}

.page-loader img {
  max-width: 38px;
  min-width: 38px;
}
