[svd-button] {
  margin-top: 20px
}

.tab {
  display: flex
}

.tab .image {
  width: 12.5rem;
  height: 12.5rem;
  flex-shrink: 0;
  flex-grow: 0;
  background: center center no-repeat;
  background-size: cover;
  margin: .375rem;
  background-color: #f1f1f1
}

.tab .body {
  padding-left: 1rem
}

.active+tr td {
  background: #fff !important;
  color: #333 !important
}

.active td {
  background: #fff !important;
  color: #333 !important
}
